In [1]:
import sys
import pandas as pd
sys.path.insert(0, './Moduulit')
pd.options.mode.chained_assignment = None

# Importtaus tässä muodossa
from database_connection import database_query
from outliers import find_outliers, draw_histogram
from clean_dataframe import clean_dataframe
from write_df_to_database import write_df_to_mariadb
from xy_diskretisointi import xy_to_grid
from isolation_forest import *
from horrostila import *
# tai from ... import *

In [2]:
df = database_query("SELECT * FROM CleanSensorData LIMIT 1000")
df.head(5)

   node_id                      timestamp     x    y  x_grid  y_grid  grid_id
0        1  b'2020-06-25 09:21:13.232000'  1324 -188      20      16      820
1        1  b'2020-06-25 09:21:14.232000'  1328 -200      20      16      820
2        1  b'2020-06-25 09:21:15.232000'  1320 -190      20      16      820
3        1  b'2020-06-25 09:21:16.232000'  1319 -220      20      16      820
4        1  b'2020-06-25 09:21:20.232000'  1316 -190      20      16      820

# timestamp to datetime -> erillinen moduuli vissiin

In [5]:
# Timestamp to datetime
df['timestamp'] = df['timestamp'].astype(str)
df['timestamp'] = df['timestamp'].str.slice(2, -7)
df['timestamp'] = df['timestamp'].astype('datetime64[ns]')

# Horrostilat dataframeen

In [6]:
df = horrostila(df)
df.head()

   node_id           timestamp     x    y  x_grid  y_grid  grid_id  Horrostila
0        1 2020-06-25 09:21:13  1324 -188      20      16      820       False
1        1 2020-06-25 09:21:14  1328 -200      20      16      820       False
2        1 2020-06-25 09:21:15  1320 -190      20      16      820       False
3        1 2020-06-25 09:21:16  1319 -220      20      16      820       False
4        1 2020-06-25 09:21:20  1316 -190      20      16      820       False