In [1]:
import sys
import pandas as pd
sys.path.insert(0, './Moduulit')
pd.options.mode.chained_assignment = None

# Importtaus tässä muodossa
from database_connection import database_query
from outliers import find_outliers, draw_histogram
from clean_dataframe import clean_dataframe
from write_df_to_database import write_df_to_mariadb
from xy_diskretisointi import xy_to_grid
from isolation_forest import *
from reittien_erottelu import *
from sisään_uloskäynnit import *
from clean_velocities import *
from plot_lapimenoajat import *
from horrostila import *

In [2]:
df = database_query("SELECT * FROM REITIT LIMIT 100000")
df.head(5)

,ajokerta,node_id,timestamp,x,y,grid_id,kesto,dayofweek,current_hour
0,2,1,2020-06-25 15:21:46,21,11,351,754.002,3,8
1,2,1,2020-06-25 15:21:47,21,11,351,754.002,3,8
2,2,1,2020-06-25 15:21:47,21,11,351,754.002,3,8
3,2,1,2020-06-25 15:21:47,21,11,351,754.002,3,8
4,2,1,2020-06-25 15:21:50,20,11,350,754.002,3,8