In [15]:
import sys  
sys.path.insert(0, './Moduulit (.py)')

# Importtaus tässä muodossa
from database_connection import database_query
from outliers import find_outliers, draw_histogram
from write_df_to_database import write_df_to_mariadb
from xy_diskretisointi import xy_to_grid

# tai from ... import *


# Jos datasetti on "df"

# Esim. find_outliers(df)
# Esim. draw_histogram(df['x'], df['y'], 20) <-- kolmas meinaa bins arvoa, eli histogrammin "rakeisuutta"

In [19]:
df = database_query("SELECT * FROM SensorData LIMIT 10;")
df

,node_id,timestamp,x,y,z,q
0,b'-2393099149039893833',b'2020-06-24 12:20:08.533016+00:00',2762,-257,100,0
1,b'-2393099149039893833',b'2020-06-24 12:20:08.620015+00:00',2870,-344,100,0
2,b'-2393099149039893833',b'2020-06-24 12:20:09.622827+00:00',2916,-344,100,0
3,b'-2393099149039893833',b'2020-06-24 12:20:09.622846+00:00',2894,-254,100,0
4,b'-2393099149039893833',b'2020-06-24 12:20:10.116102+00:00',2888,-188,100,0
5,b'-2393099149039893833',b'2020-06-24 12:20:11.085738+00:00',2910,-200,100,0
6,b'-2393099149039893833',b'2020-06-24 12:20:11.820191+00:00',2924,-111,100,0
7,b'-2393099149039893833',b'2020-06-24 12:20:12.994888+00:00',2928,5,100,0
8,b'-2393099149039893833',b'2020-06-24 12:20:13.59593+00:00',2987,6,100,0
9,b'-2393099149039893833',b'2020-06-24 12:20:14.482114+00:00',3038,-8,100,0